* {
    font-family: cursive;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F7F8;
    margin: 0;
    padding: 0;
}

#shadow {
    border-right: solid #011627 0.5vw;
    border-top-right-radius: 9.375vw;
    border-bottom: solid #011627 0.9375vw;
    border-radius: 9.375vw 3.75vw 1.875vw 3.75vw;
    background-color: #011627;
    padding-right: 0.625vw;
    padding-bottom: 0.125vw;
}

#decimalInput::-webkit-inner-spin-button,
#decimalInput::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

#header {
    text-align: center;
    color: #F6F7F8;
    font-size: 3vw;
    border: solid #20A4F3 0.5125vw;
    border-radius: 1.875vw;
    border-top-color: #2EC4B6;
    border-left-color: #2EC4B6;
    padding: 0.625vw;
    margin-bottom: 2.1875vw;
}

#decimalInput {
    appearance: textfield;
    -moz-appearance: textfield;
    margin: 0.3125vw;
    margin-bottom: 3.75vw;
    border: solid #20A4F3 0.5125vw;
    border-top-color: #2EC4B6;
    border-left-color: #2EC4B6;
    font-size: 4vw;
    width: 100%;
    padding: 0.625vw;
}

#num-pad {
    display: grid;
    justify-content: center;
    flex-grow: 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.3125vw;
}

#container {
    display: flex;
    justify-content: space-between;
    border: solid #20A4F3 0.5125vw;
    border-top-color: #2EC4B6;
    border-left-color: #2EC4B6;
    border-radius: 1.875vw;
    background-color: #011627;
    flex-wrap: wrap;
    max-width: 50vw;
    width: 100%;
    padding: 1.25vw;
}

#content {
    flex: 1 1 200px;
    margin: 0.625vw;
    padding: 0.625vw 3.125vw;
    margin-bottom: 3.125vw;
    margin-top: 0.9375vw;
}

button {
    font-size: 3vw;
    border: solid #20A4F3 0.5125vw;
    border-top-color: #2EC4B6;
    border-left-color: #2EC4B6;
    border-radius: 1.25vw;
    background-color: #011627;
    color: #F6F7F8;
    padding: 0.625vw;
    width: 100%;
    height: 100%;
}

#operator-box {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.operator {
    height: 100%;
    margin: 0.3125vw;
}

.calc-ui {
    display: flex;
    height: 34.5vw;
    width: 100%;
}

@media (max-width: 768px) {
    #header {
        font-size: 6vw;
    }

    #decimalInput {
        font-size: 8vw;
    }

    button {
        font-size: 6vw;
    }

    #container {
        flex-direction: column;
    }

    #operator-box {
        flex-direction: row;
        width: 100%;
    }

    .calc-ui {
        flex-direction: column;
        height: auto;
    }
}