* {
    font-family: cursive;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F7F8;
    margin: 0;
    padding: 0;
}

#shadow {
    border-right: solid #011627 8px;
    border-top-right-radius: 150px;
    border-bottom: solid #011627 15px;
    border-radius: 150px 60px 30px 60px;
    background-color: #011627;
}

#decimalInput::-webkit-inner-spin-button,
#decimalInput::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

#header {
    text-align: center;
    color: #F6F7F8;
    font-size: 24px;
    border: solid #20A4F3 5px;
    border-radius: 30px;
    border-top-color: #2EC4B6;
    border-left-color: #2EC4B6;
    padding: 10px;
    margin-bottom: 20px;
}

#decimalInput {
    appearance: textfield;
    -moz-appearance: textfield;
    margin: 5px 0;
    margin-bottom: 20px;
    border: solid #20A4F3 5px;
    border-top-color: #2EC4B6;
    border-left-color: #2EC4B6;
    font-size: 24px;
    width: 100%;
    padding: 10px;
}

#num-pad {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    flex-grow: 1;
}

#container {
    display: flex;
    flex-direction: column;
    border: solid #20A4F3 5px;
    border-top-color: #2EC4B6;
    border-left-color: #2EC4B6;
    border-radius: 30px;
    background-color: #011627;
    width: 100%;
    max-width: 800px;
    padding: 20px;
}

#content {
    display: flex;
    flex-direction: column;
}

button {
    font-size: 18px;
    border: solid #20A4F3 3px;
    border-top-color: #2EC4B6;
    border-left-color: #2EC4B6;
    border-radius: 15px;
    background-color: #011627;
    color: #F6F7F8;
    padding: 10px;
    
}

#operator-box {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    width: 5pc;
}

.calc-ui {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap: 10px;
    border: solid;
}

@media (max-width: 768px) {

    #container {
        max-width: 90vw;
    }

    #header {
        font-size: 5vw;
    }

    #decimalInput {
        font-size: 6vw;
    }

    button {
        font-size: 5vw;
    }
}

@media (min-width: 1200px) {
    #container {
        max-width: 600px;
    }

    #header {
        font-size: 36px;
    }

    #decimalInput {
        font-size: 36px;
    }

    button {
        font-size: 28px;
    }
}